@import '../../../../styles';

:host {
  display: block;

  ul {
    li {
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid $color-border-light;

      &:hover {
        background-color: $color-select-light;
      }
    }
  }
}