$color-main: #364150;
$color-main-dark: #2B3643;
$color-main-light: #71839b;
$color-second: $color-main-light;
$color-accent: #F5A623;

$color-text-light: white;
$color-text-dark: black;

$color-border-light: $color-main-dark;

// ticket colors
$color-ticket-story: #99ff99;
$color-ticket-task: #66c2ff;
$color-ticket-bug: #ff6666;
$color-ticket-unknown: white;

$color-ticket-background: #f2f2f2;