$color-main: #364150;
$color-main-dark: #2B3643;
$color-main-light: #71839b;
$color-second: $color-main-light;
$color-accent: #F5A623;

$color-text-light: white;
$color-text-dark: black;

$color-border-light: $color-main-dark;
