$header-height: 50px;
$border-main-thickness: 2px;

$body-margin: 0 10px;
$header-padding-vertical: 5px;
$header-padding-horizontal: 10px;

$left-menu-width: 200px;
$left-menu-li-padding-vertical: 10px;
$left-menu-li-margin-horizontal: 15px;
$left-menu-li-border-thickness: 1px;