@import '../../../styles';

:host {
  display: block;
  background-color: $color-main;

  height: $header-height;
  border-bottom: 2px solid $color-accent;

  .logo {
    color: white;
    display: inline-block;
    font-size: 40px;
  }
}