<md-list>
  <button md-button routerLink="/user-dashboard"><md-icon>assessment</md-icon></button>
  <button md-button routerLink="/j2node"><md-icon>info</md-icon></button>
</md-list>

<!--<md-sidenav-container>-->
  <!--<md-sidenav routerLink="/user-dashboard" mode="side" opened="true">-->
    <!--<button md-button class="full-width" routerLink="/user-dashboard">dashboard</button>-->
    <!--<button md-button class="full-width">projects</button>-->
    <!--<md-icon>delete</md-icon>-->
    <!--<button md-button class="full-width" routerLink="/j2node">about</button>-->
  <!--</md-sidenav>-->
<!--</md-sidenav-container>-->

<div class="copyright">
  <div class="left-menu-version">j2node | v 0.1.0</div>
</div>