@import '../../../styles';

:host {
  position: fixed;
  left: 0;
  top: $header-height;
  margin: $header-padding-vertical*2 0;
  //color: $color-text-light;
  z-index: 9999999;
  border-right: 2px solid $color-main;

  width: $left-menu-width;
  height: 100%;
  //border-right: $border-main-thickness solid $color-accent;

  button {
    min-width: $left-menu-width !important;

    &:hover {
      background-color: white;
    }
  }

  md-list {
    button {
      border-bottom: $left-menu-li-border-thickness solid $color-main-light;
    }
  }

  .copyright {
    text-align: center;
    width: 100%;
    position: absolute;
    font-size: 10px;
    border-top: $left-menu-li-border-thickness solid $color-main-light;
    bottom: $header-height + 20px;

    .left-menu-version {
      margin-top: 10px;
    }
  }
}