@import '../../../../styles';

:host {
  display: block;
  margin: $header-height + $header-padding-vertical*2 0 0 $left-menu-width;
  padding-top: $board-padding-top;

  color: $color-main;

  .boards-list {
    width: 48%;
    display: inline-block;
  }

  .overall-chart {
    width: 48%;
    display: inline-block;
    float: right;
  }
}