@import '../../../../styles';

:host {
  display: block;


  .create-ticket-form {
    margin: $margin-default auto;
    width: 80%;

    .save-button,
    .cancel-btn {
      margin-top: $margin-default;
      float: right;
      margin-left: $margin-default;
    }

    md-select:first-of-type {
      margin-top: $margin-default;
    }

    md-input-container,
    md-select {
      margin-bottom: $margin-default;
    }


  }

}